<div id = "box">
<h1 style="margin-bottom:.5em; width:93%; border-bottom:solid"><%= @player.name.split.map(&:capitalize).join(' ') %></h1>

<div>

	<div style="width:33%;margin-bottom:3em;float:left">
	<h4 style="color:#747272">Singles Wins: <span style="color:#29ce83"><%= @player.singles_wins.count %></span></h4>
	<h4 style="color:#747272">Singles Losses:  <span style="color:#eb6864"><%= @player.singles_losses.count %> </span></h4>
	<h4>Singles Average: <span style="color:#000000"><%= @player.singles_win_average.round(2) %></span></h4>
	</div>

	<div style="width:33%;margin-bottom:3em;float:left">
	<h4 style="color:#747272">Doubles Wins: <span style="color:#29ce83"><%= @player.doubles_wins.count %></span></h4>
	<h4 style="color:#747272">Doubles Losses:  <span style="color:#eb6864"><%= @player.doubles_losses.count %> </span></h4>
	<h4>Doubles Average: <span style="color:#000000"><%= @player.doubles_win_average.round(2) %></span></h4>
	</div>

	<div style="width:33%;margin-bottom:3em;float:left">
	<h4 style="color:#747272">Total Wins: <span style="color:#29ce83"><%= @player.overall_wins %></span></h4>
	<h4 style="color:#747272">Total Losses:  <span style="color:#eb6864"><%= @player.overall_losses %> </span></h4>
	<h4>Overall Average: <span style="color:#000000"><%= @player.overall_win_average.round(2) %></span></h4>
	</div>

</div>


<div style="margin-top:4em;clear:both">
	<h3>Games Played</h3>
	<% @player.teams.each do |team| %>
	  <% team.games.each do |game| %> 
	    <%= link_to game.match_time.strftime("%A, %B %C, %G - %l:%M%P"), game_path(game)%> <br>
	  <% end %>
	<% end %>
</div>

</div>

